@model SheduedFlight


@{
    ViewBag.Title = "Upcoming Launches";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>Upcomming SpaceX launch plans</h2>
<br>
<br>
<br>

<body>
    <div class="space-img">
        <img src="https://i.pinimg.com/originals/05/86/00/058600c7547504c3b05ce46ef6fb901d.jpg" width="350" height="500" />
    </div>

    <pre>@Model.shefuedLaunch.ToString()</pre>

    <hr />


    @using (Html.BeginForm("ExportUpcoming", "File", FormMethod.Post))
    {
        <input type="hidden" name="Upcoming" />
        <input type="submit" id="btnSubmit" value="Export" />

    }
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='Upcoming']").val($("#Grid").html());
            });
        });
    </script>

    <br />
    <br />

    <div class="pagination">
        @if (Model.PrevPage == null)
        {
            <a class="btn btn-sm btn-lighter btn-auto disabled">Prev</a>
        }
        else
        {
            <a asp-action="Upcoming" asp-route-currPage="@Model.PrevPage" class="btn btn-sm btn-lighter btn-auto" value="@Model.PrevPage">Prev</a>
        }

        <a class="btn btn-sm btn-primary btn-auto" value="@Model.CurrPage">@Model.CurrPage</a>

        @if (Model.NextPage == null)
        {
            <a class="btn btn-sm btn-lighter btn-auto disabled">Next</a>
        }
        else
        {
            <a asp-controller="UpcomingLaunches" asp-action="Upcoming" asp-route-currPage="@Model.NextPage" class="btn btn-sm btn-lighter btn-auto" value="@Model.NextPage">Next</a>
        }
    </div>

</body>

<style>
    .custom-text {
        font-family: Candara;
        font-size: large;
        overflow-x: hidden;
    }

    .spacex-image {
        float: right
    }

    pre {
        word-wrap: break-word; 
        white-space: pre-wrap; 
        text-align: justify
    }

    .pagination{
        margin-left: 450px;
    }
    .space-img {
        float: right;
        margin: 10px;
    }
</style>





